/*!
 * Start Bootstrap - 2 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    /*padding-top: 70px; !* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.loggedIn {
    float: none;
    padding: 0;
    color: #FFF;
    font-size: 1.2em;
    text-align: right;
}

.loggedIn ul {
    /*padding: 0 12px;*/
}

.loggedIn ul li {
    display: inline;
    margin-left: 10px;
    color: #fff;
    line-height: 3;
}

.loggedIn ul li>a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

.loggedIn ul li>a:hover {
    text-decoration: underline;
}

.loggedIn ul li>a,
.linkBullet {
    padding-left: 22px;
    background: url(../images/icons/arrow_lo.png) 0 10px no-repeat;
}

.ProntolyLogo {
    padding: 15px;
    max-height: 90px;
}

.secureMsg {
    margin: 5px 10px 5px 10px;
    min-height: 50px;
    background: #FFF;
    border: 1px solid #a9bed2;
    padding: 5px 10px 10px 10px;
}

.secureMsg p {
    margin: .55em 0 0 3px;
    padding: 0;
    font-size: 1.2em;
}

.secureMsg p.msg {
    margin: 10px 0 0 0;
    padding: 0px 0 0 23px;
    background: url(../images/icons/padlock_secureMsg.png) 0 0 no-repeat;
}

.secureMsg p>a {
    display: block;
    margin: 0;
    padding: 0 0 0 20px;
    text-decoration: none;
    color: #264d73;
    background: url(../images/icons/arrow.png) 0 1px no-repeat;
    font-size: 12px;
}

.primary .inner .subPanel {
    padding: 15px;
    border: 1px solid #f8f8f8;
    border-radius: 0;
    background: none repeat scroll 0 0 #f8f8f8;
    min-height: 370px;
    font-size: 12px;
}

.subPanel {
    margin: 0 0 10px 0;
    padding: 9px;
    background: #FFF;
    border: 0;
    border-radius: 0;
}

.content {}

.content h1 {
    margin: 0 0 .7em 0;
    padding: .5em 14px 0 14px;
    font-size: 28px;
    font-weight: normal;
    color: #333;
}

.primary .panel .inner,
.content .inner {
    margin: 0 14px;
    font-size: 12px;
}

.content .p {}

.content .inner+form {
    clear: both;
}

.oldLogin {
    padding: 0px 20px 0px 0px;
    /*border-right: 2px solid #264d73;*/
}

.oldLogin:after {
    content: "or";
    position: absolute;
    right: 0px;
    top: 50%;
    margin-right: -5px;
}

.prontolyLogin {
    padding: 0px 0px 0 20px;
}

.content .inner .formField {
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
}

.formField {
    position: relative;
    clear: left;
    margin: 0 5px 1px 5px!important;
    padding: .7em 10px!important;
}

.formField label {
    color: #333;
    display: block;
    margin: 0 0 .4em 0;
    font-size: 12px;
}

.field {
    min-width: 200px;
    max-width: 100%;
    padding: 5px;
    font-size: 18px;
}

.formField.checkbox label {
    float: left;
    margin: 0;
    padding: 0 0 0 22px;
    font-weight: normal;
}

.formField.error {
    border: 1px solid #fab7de;
    background-color: #fde5f3;
}

.formField.error span.error {
    padding: 3px 0 3px 36px;
    font-size: 12px;
    background: url(../images/icons/error.png) no-repeat 10px 1px;
    min-width: 150px;
    max-width: 260px;
    font-weight: bold;
}

.formField input[type="checkbox"] {
    top: 6px;
    left: 20px;
    padding: 0;
}

.content .cxtHelp {
    display: inline-block;
    position: relative;
}

.content .checkbox .formFieldInner .cxtHelp a.cxtTrigger {
    margin-left: 3px;
    font-size: 1em!important;
}

.content .cxtHelp a.cxtTrigger {
    display: inherit!important;
    font-size: 1em!important;
    font-weight: bold!important;
    text-decoration: none;
    color: #2178b0!important;
}

.cxtHelp .help {
    display: none !important;
}

.help {
    display: none !important;
}

.submitActions {
    padding: 17px 0 0 0;
    background: url(../images/horiz_div.png) 0 0 repeat-x;
}

.submitAction {
    float: right;
}

.content .loginActions input {
    float: left;
    margin-right: 14px;
    background: #264d73;
    border: 0px;
    padding: 10px 30px 10px 30px;
    color: #ffffff;
    font-size: 16px;
}

.content .loginActions ul {
    float: left;
    margin-bottom: 3px;
    list-style: none;
    padding: 0 0 0 10px;
}

.content ul.linkList li,
.content p.linkList a {
    margin-bottom: .5em;
    padding: 0;
    font-weight: bold;
    background: transparent;
}

.content ul li {
    margin: 0 0 .5em 0;
    padding: 0 0 0 22px;
}

.content ul.linkList li a,
.content p.linkList a {
    display: inline-block;
    padding: 0 0 0 22px;
    text-decoration: none;
    color: #264d73;
    background: url(../images/icons/arrow.png) 0 2px no-repeat;
    overflow: hidden;
    min-height: 16px;
}

.prontolyPanel {
    font-size: 13px;
}

.prontolyInner {
    padding-top: 20px;
    min-height: 140px;
}

.button-primary {
    background-color: #026147;
    background-image: linear-gradient(#19785e, #026147);
    padding: 10px 25px 10px 25px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

#cleared {
    clear: both;
}

.tooltipProntoly {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipProntoly .tooltipProntolytext {
    visibility: hidden;
    /*color: #fff;*/
    /*text-align: left;*/
    /*!*border-radius: 6px;*!*/
    /*padding: 10px;*/
    /*!* margin-top: 10px; *!*/
    /*left: 50%;*/
    /*margin-left: -150px;*/
    /*position: absolute;*/
    /*font-size: 14px;*/
    /*z-index: 1;*/
    /*background: url(../images/tooltip.png);*/
    /*width: 320px;*/
    /*height: 141px;*/
    color: #fff;
    text-align: left;
    padding: 10px;
    left: 50%;
    margin-left: -132px;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    background: url(../images/tooltip.png);
    width: 320px;
    height: 141px;
    margin-top: -155px;
}


/*.tooltipProntoly .tooltipProntolytext::after {*/


/*content: " ";*/


/*position: absolute;*/


/*bottom: 100%;  !* At the top of the tooltip *!*/


/*left: 50%;*/


/*margin-left: -5px;*/


/*border-width: 5px;*/


/*border-style: solid;*/


/*border-color: transparent transparent rgb(11, 105, 79) transparent;*/


/*}*/

.tooltipProntoly:hover .tooltipProntolytext {
    visibility: visible;
}

.navbar-prontoly {
    min-height: 91px;
}

.salesPromo {
    margin: 0 15px 15px 15px;
    padding: 15px 0 0 0;
}

.content .salesPromo p.Img {
    float: left;
    margin: 0;
    width: 100px;
}

.salesPromo .Msg {
    margin-left: 100px;
}

.salesPromo .Msg h2 {
    margin: 0 0 .4em 0;
    font-size: 16px;
    color: #333;
}

.salesPromo .Msg p {
    margin: .5em 0 0 0;
    font-size: 12px;
    font-weight: bold;
}

#footer {
    position: absolute;
    left: 0;
    width: 100%;
}

.outer {
    max-width: 1206px;
    min-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: left;
}

#footerInner {
    position: relative;
    margin: 0 5px;
    padding: 13px 19px;
    border: 1px solid #CCC;
    border-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 1px 1px 0;
    border-bottom: 0;
    background-color: #264d73;
}

#footer ul {
    list-style: none;
    margin: 0 0 0 -44px;
}

#footer p,
#footer ul {
    font-size: 11px;
    line-height: 1em;
    color: #FFF;
}

#footer li {
    padding: 0 5px;
    margin-top: -5px;
    padding-right: 05px;
    border-left: 1px solid #fff;
    float: left;
}

#footer li:first-child {
    border: 0;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

.loginAction {
    font-size: 12px;
}

.loginForm {
    bottom: 0px;
    position: absolute;
    margin-left: 120px;
}

.homepageBody {
    background: #f0f0f0;
    text-align: center;
}

.prontolyLoginLogo {
    float: left;
    padding: 0 10px 0 0;
}

.bigSubPanel {
    margin-top: 30px;
    background: #f2f2f2;
    font-size: 12px;
}


/* Animation */

.prontolyAnimation {
    /*background: #fff;*/
    padding: 20px 0 20px 0;
}


/* Clear Loading */

.clear-loading {
    text-align: center;
    margin: 0 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}


/* Loading Effect One */

.loading-effect-1 {
    width: 80px;
    height: 80px;
}

.loading-effect-1 span {
    display: block;
    -webit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-effect-1 span:first-child {
    width: 100%;
    height: 100%;
    border-color: #a9bed2;
    border-left-color: transparent;
    top: 0;
    left: 0;
    -webkit-animation: effect-1-1 4s infinite linear;
    -moz-animation: effect-1-1 4s infinite linear;
    -ms-animation: effect-1-1 4s infinite linear;
    -o-animation: effect-1-1 4s infinite linear;
    animation: effect-1-1 4s infinite linear;
}

.loading-effect-1 span:nth-child(2) {
    width: 75%;
    height: 75%;
    border-color: #264d73;
    border-right-color: transparent;
    top: 12.5%;
    left: 12.5%;
    -webkit-animation: effect-1-2 3s infinite linear;
    -moz-animation: effect-1-2 3s infinite linear;
    -ms-animation: effect-1-2 3s infinite linear;
    -o-animation: effect-1-2 3s infinite linear;
    animation: effect-1-2 3s infinite linear;
}

.loading-effect-1 span:last-child {
    width: 50%;
    height: 50%;
    border-color: #a9bed2;
    border-bottom-color: transparent;
    top: 25%;
    left: 25%;
    -webkit-animation: effect-1-1 4s infinite linear;
    -moz-animation: effect-1-1 4s infinite linear;
    -ms-animation: effect-1-1 4s infinite linear;
    -o-animation: effect-1-1 4s infinite linear;
    animation: effect-1-1 4s infinite linear;
}

@-webkit-keyframes effect-1-1 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes effect-1-1 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes effect-1-2 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes effect-1-2 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


/* End Animation */